<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whatever">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Voice"></activity>
        <activity android:name=".start" />
        <activity android:name=".reports" />
        <activity android:name=".machines" />
        <activity android:name=".facilities" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Profile6" />
        <activity android:name=".Profile5" />
        <activity android:name=".Profile4" />
        <activity android:name=".Profile3" />
        <activity android:name=".Profile2" />
        <activity android:name=".Profile1" />
        <activity android:name=".AboutD" />
        <activity android:name=".sms" />
        <activity android:name=".showDoners" />
        <activity android:name=".donersform" />
        <activity android:name=".blood" />
        <activity android:name=".Thanks" />
        <activity android:name=".showappoint" />
        <activity android:name=".confirm" />
        <activity android:name=".Calendar" />
        <activity android:name=".CT" />
        <activity android:name=".doctorProfileopen" />
        <activity android:name=".dp" />
        <activity android:name=".paymentSuccessful" />
        <activity android:name=".payappoint" />
        <activity android:name=".Pay" />
        <activity android:name=".dashboard" />
        <activity android:name=".login" />
        <activity android:name=".register" />
        <activity android:name=".hospitalthumnail" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>